<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>История</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div th:replace="fragments/navbar :: body"></div>

<div class="container mt-5">

    <h2 class="mb-4">История определений</h2>

    <div class="table-responsive">
        <table class="table table-hover">

            <thead>
            <tr>
                <th>Растение</th>
                <th>Точность</th>
                <th>Дата</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="item : ${history}">
                <td>
                    <a th:href="@{'/plants/' + ${item.plant.id}}"
                       th:text="${item.plant.name}">
                    </a>
                </td>

                <td>
                <span class="badge bg-success"
                      th:text="${#numbers.formatDecimal(item.probability * 100, 1, 2)} + '%'">
                </span>
                </td>

                <td th:text="${item.createdAt}"></td>
            </tr>
            </tbody>

        </table>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>